@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: rgb(105, 105, 170);
    text-align: center;
}

#box-tabuada {
    margin: auto;
    width: 500px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    background-color: #FFF;
}

#box-tabuada p {
    display: inline-block;
    padding: 20px;
    color: #1d1d1d;
}

#res {
    font-size: 1.5rem;
    color: #1d1d1d;
}

select {
    margin: auto;
    margin-left: 10px;
    width: 200px;
    text-align: center;
}
